# Prima Delivery — Code Ownership
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default: Prima team owns everything
* @esimplicity/prima
