{{ job_id | default('k8s_kustomize_layer') }}:
  name: "{{ job_name | default('🧱 K8s Kustomize Layer') }}"
  uses: "{{ workflow_path }}"
  {% if needs %}
  needs:
  {% for need in needs %}
    - {{ need }}
  {% endfor %}
  {% endif %}
  with:
    system: "{{ system }}"
    sub_system: "{{ sub_system }}"
    stack: "{{ stack }}"
    environment: "{{ environment }}"
    aws_role_arn: "{{ aws_role_arn }}"
    aws_region: "{{ aws_region }}"
    cluster_name: "{{ cluster_name }}"
    cluster_region: "{{ cluster_region }}"
